<div class="section__form">
    <form name="contact" novalidate class="form">
        <h2>Edit Contact Form</h2>
        <div class="form__field form-wrapper">
            <input type="text" name="firstField" id="fieldFirst" ng-model="contact.firstField" class="input input--text" required />
            <label class="form__label" for="fieldFirst">First field</label>
            <p class="alert alert--warning" ng-show="(contact.$submitted || contact.firstField.$touched) && contact.firstField.$error.required">First field is required.</p>
        </div>

        <div class="form__field form-wrapper">
            <input type="text" name="secondField" id="fieldSecond" ng-model="contact.secondField" class="input input--text" required />
            <label class="form__label" for="fieldSecond">Second field</label>
            <p class="alert alert--warning" ng-show="(contact.$submitted || contact.secondField.$touched) && contact.secondField.$error.required">Second field is required.</p>
        </div>

        <div class="form__field form-wrapper">
            <input type="text" name="thirdField" id="fieldThird" ng-model="contact.thirdField" class="input input--text" required />
            <label class="form__label" for="fieldThird">Third field</label>
            <p class="alert alert--warning" ng-show="(contact.$submitted || contact.thirdField.$touched) && contact.thirdField.$error.required">Third field is required.</p>
        </div>

        <div class="form__field form-wrapper">
            <input type="text" name="fourthField" id="fieldFourth" ng-model="contact.fourthField" class="input input--text" required />
            <label class="form__label" for="fieldFourth">Fourth field</label>
            <p class="alert alert--warning" ng-show="(contact.$submitted || contact.fourthField.$touched) && contact.fourthField.$error.required">Fourth field is required.</p>
        </div>

          <div class="form__field form-wrapper">
            <input type="text" name="buttonText" id="buttonText" ng-model="contact.buttonText" class="input input--text" required />
            <label class="form__label" for="buttonText">Button text</label>
            <p class="alert alert--warning" ng-show="(contact.$submitted || contact.buttonText.$touched) && contact.buttonText.$error.required">Button text is required.</p>
        </div>


        <div class="form__field spc--bottom--med form-wrapper">     
            
            
        </div>
      
        <div class="form__field form-wrapper">
            <button type="submit" class="btn btn--save btn--med push" ng-click="savePlan()">Save</button>
            <button type="button" class="btn btn--cancel btn--med push" ng-click="cancelEdit()">Cancel</button>
        </div>
        <div ng-show="error">
            {{ error }}
        </div>
    </form>    
    </div>