<div class="background--lost">
    <div class="hero--lost">
        <bora-header></bora-header>
    </div>
    <div class="layout__form center">
    	<div class="center__content" >
            <div class="section__form">
                <a ui-sref="master.main.index" class="link--lost">
                    <h1 class="message--lost">Error 404 - Lost on your way?</h1>
                    <img src="assets/img/compass.svg" alt="compass" width="100" class="icon--lost" />
                </a>
                <a class="btn btn--quartiary btn--med" ui-sref="master.main.index">Navigate to home</a>
            </div>
        </div>
    </div>
</div>