        <div class="hero--primary">
            <bora-header></bora-header>
            
            <div class="container--secondary">
                <div class="box">
                    <section class="box__item">
                        <h2 class="box__item--title">Grab your first mate and sail with us!</h2>
                        <a href="#plan" class="btn btn--primary btn--lrg">Sign in</a>
                        <a href="#" class="btn btn--secondary btn--lrg">Get app</a>
                    </section>
                   
                    <div class="box__media">
                        <figure class="box__media--image">
                            <picture>
                                <source srcset="./assets/img/smartphone-holding.png" media="(min-width: 64em)">
                                <source srcset="./assets/img/smartphone-holding-med.png" media="(min-width: 48em)">
                                <source srcset="./assets/img/smartphone-holding-sml.png" media="(min-width: 0em)">
                                <img srcset="./assets/img/smartphone-holding.png" alt="App preview">
                            </picture>
                        </figure>
                   </div>

                </div>
            </div>
        </div>



<main role="main">
        <section id="features" class="section__primary">
            <div class="container--primary">
                <div class="flex">
                    <div class="section__primary--item center">
                        <img src="./assets/img/anchor.svg" alt="Safety">
                        <h3 class="section__primary__title">Safety</h3>
                        <p>Our mission is to keep you and your crew safe and dry during your adventures. We provide accurate weather forecast and we inform you the way you want it.</p>
                        <a href="#" class="btn btn--tertiary--negative btn--med" alt="See more">See more</a>
                    </div>
                    <div class="section__primary--item center">
                        <img src="./assets/img/compass.svg" alt="">
                        <h3 class="section__primary__title">Vision</h3>
                        <p>We crossed our path with top notch navigators to bring you the best and latest features, innovative software technologies and ultra-fast app responsiveness.</p>
                        <a href="#" class="btn btn--tertiary--negative btn--med">See more</a>
                    </div>
                    <div class="section__primary--item center">
                        <img src="./assets/img/rudder.svg" alt="">
                        <h3 class="section__primary__title">The Way</h3>
                        <p>We see ourselves as an extension to your crew. Not asking much, just doing what we're doing the best — navigate and inform. And we're proud te be the part of the team!</p>
                        <a href="#" class="btn btn--tertiary--negative btn--med">See more</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section__secondary">
            <div class="container--primary">
                <div class="flex">
                    <div class="section__secondary--item">
                        <div class="spc--bottom--lrg">
                            <h2 class="section__secondary__title">Continuity and Focus</h2>
                            <p>Our latest ultra-fast data transfer technology is in sync with your ship’s navigation system all the time.</p>
                            <p>You’ll a quickly have info report anytime by checking your Watch, iPhone or a navigation system.</p>
                        </div>
                        <div>
                            <h2 class="section__secondary__title">Informations at hand</h2>
                            <p>Real-time weather information, wind strength, nautical warnings and reports from worldwide were our focal point in the development process.</p>
                        </div>
                    </div>

                    <div class="section__secondary--media">
                        <picture>
                            <source srcset="./assets/img/smartphone-in-app.png" media="(min-width: 64em)">
                            <source srcset="./assets/img/smartphone-in-app.png" media="(min-width: 48em)">
                            <source srcset="./assets/img/smartphone-in-app-sml.png" media="(min-width: 0em)">
                            <img srcset="./assets/img/smartphone-in-app.png" alt="Opened app">
                        </picture>
                    </div>
                </div>
                
                <div class="flex spc--top--xlrg">
                    <div class="section__secondary--media-alt">
                        <picture>
                            <source srcset="./assets/img/watch-solo.png" media="(min-width: 64em)">
                            <source srcset="./assets/img/watch-solo.png" media="(min-width: 48em)">
                            <source srcset="./assets/img/watch-solo-sml.png" media="(min-width: 0em)">
                            <img srcset="./assets/img/watch-solo.png" alt="Apple Watch app">
                        </picture>
                    </div>
                    <div class="section__secondary--item spc--top--xlrg">
                        <div class="spc--bottom--lrg">
                            <h2 class="section__secondary__title">Design that matters</h2>
                            <p>Design is adopted for phone and a new generation of watches — smartwatches. Clean and interactive user interface on Watch with all the basic info, you’ll need to know.</p>
                        </div>
                        <div>
                            <h2 class="section__secondary__title">One platform to rule them all</h2>
                            <p>With complete eco-system in our mind we used full features provided from all platforms. You can pair your iPhone with Apple Watch and have all of your information instantly — quick and reliable.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section  id="video" class="section__video center">
            <div class="container--primary">
                <div class="player">
                    <video poster="/assets/img/video-bg.jpg" controls crossorigin>
                        <!-- Video files -->
                        <source src="//cdn.selz.com/plyr/1.0/movie.mp4" type="video/mp4">
                        <source src="//cdn.selz.com/plyr/1.0/movie.webm" type="video/webm">
                        <!-- Fallback for browsers that don't support the <video> element -->
                        <div>
                            <a href="//cdn.selz.com/plyr/1.0/movie.mp4">Download</a>
                        </div>
                    </video>
                </div>
            </div>
        </section>

        <section  id="plan" class="section__tertiary">
            <div class="container--primary">
                <h2 class="push"><a ui-sref="master.main.plans" class="hasTooltip tooltip"><span>Edit Plans</span><img src="../../assets/img/cog.svg" class="cog" /></a></h2>
                <h2 class="section__heading center">Select a Plan</h2>
                
                    <plan-boxes class="flex center"></plan-boxes>
                
            </div>
        </section>

        <section class="section__primary">
            <div class="container--primary">
                <div class="flex">
                    <div class="section__primary--item center">
                        <img src="./assets/img/sos.svg" alt="">
                        <h3  class="section__primary__title">24/7 Safety</h3>
                        <p>We help you 24/7 with any questions or problems. Smart, friendly, and knowledgeable support is always there on the phone, and by chat or ticket..</p>
                        <a href="#" class="btn btn--tertiary--negative btn--med">See more</a>
                    </div>
                    <div class="section__primary--item center">
                        <img src="./assets/img/knot.svg" alt="">
                        <h3  class="section__primary__title">Customization</h3>
                        <p>Customize Bora’s components and app modules to your wish and create tho achive the best app experience.</p>
                        <a href="#" class="btn btn--tertiary--negative btn--med">See more</a>
                    </div>
                    <div class="section__primary--item center">
                        <img src="./assets/img/pirate.svg" alt="">
                        <h3  class="section__primary__title">Creative Design</h3>
                        <p>Yo-ho-ho! We’re sailing over the seven seas in quest to find the best UI and UX solutions. Join us on deck!</p>
                        <a href="#" class="btn btn--tertiary--negative btn--med">See more</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="section__secondary">
            <div class="container--primary">
                <h2 class="push"><a ui-sref="contact-edit" class="hasTooltip tooltip"><span>Edit Contact Form</span><img src="../../assets/img/cog.svg" class="cog" /></a></h2>
                <h2 class="section__heading center">Hook with us</h2>
                    <div class="section__form">
                        <form novalidate name="form">
                            <div class="flex">
                                <div class="form-wrapper form">
                                    <input name="fname" ng-model="first.name" autocomplete="given-name" type="text" required>                  
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <div ng-show="form.$submitted || form.fname.$dirty">                      
                                            
                                            <span class="alert" ng-show="form.fname.$error.required"> First name field is required. </span>
                                        </div>
                                        
                                        <label>Name</label>               
                                </div>
                                <div class="form-wrapper form">
                                    <input name="lname" ng-model="last.name" x-autocompletetype="family-name" type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="form.$submitted || form.lname.$dirty">                      
                                        
                                        <span class="alert" ng-show="form.lname.$error.required"> Last name field is required. </span>
                                    </div>
                                    <label>Last name</label>
                                </div>
                                 <div class="form-wrapper form">
                                    <input name="email" ng-model="email" type="email" x-autocompletetype="email" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="form.$submitted || form.email.$dirty">
                                        
                                        <span class="alert" ng-show="form.email.$error.required"> Email field is required. </span>
                                        <span class="alert" ng-show="form.email.$error.email"> Please type in correct email address. </span>
                                    </div>                                    
                                    <label>Email</label>
                                </div>
                            </div>
                            <div class="flex spc--top--med">
                                <div class="form-wrapper form">
                                    <textarea ng-model="message" name="message" rows="5" required></textarea>
                                    <span class="bar"></span>
                                    <div ng-show="form.$submitted || form.message.$dirty">
                                        
                                        <span class="alert" ng-show="form.message.$error.required"> Message field is required. </span>
                                    </div>
                                    <label>Your message</label>
                                </div>
                            </div>
                            <div class="spc--bottom--lrg">
                                <button type="submit" class="btn btn--primary btn--med push">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>