<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

    <main ui-view>

    </main>



    <footer class="footer center" role="content-info">
        <div class="container--secondary">
            <div class="flex--alt footer__icon--wrapper">
                <a href="#" class="footer__icon--social"><img src="./assets/img/twitter.svg" alt="Twitter"></a>
                <a href="#" class="footer__icon--social"><img src="./assets/img/facebook.svg" alt="Facebook"></a>
                <a href="#" class="footer__icon--social"><img src="./assets/img/behance.svg" alt="Behance"></a>
                <a href="#" class="footer__icon--social"><img src="./assets/img/pinterest.svg" alt="Pinterest"></a>
                <a href="#" class="footer__icon--social"><img src="./assets/img/dribble.svg" alt="Dribble"></a>
            </div>

            <nav role="footer__nav center">
                <ul class="nav group">
                    <li class="nav__item"><a href=".##features"  rel="features" class="nav__link nav__link--secondary">Features</a></li>
                    <li class="nav__item"><a href=".##video"   class="nav__link nav__link--secondary">Watch the video</a></li>
                    <li class="nav__item"><a href=".##plan"   class="nav__link nav__link--secondary">Plan</a></li>
                    <li class="nav__item"><a href="/" ui-sref="master.main.blog" rel="blog" class="nav__link nav__link--secondary">Blog</a></li>
                    <li class="nav__item"><a href=".##contact"   class="nav__link nav__link--secondary">Contact</a></li>
                </ul>
            </nav>
            
            <p class="footer__copyright">© 2015 Bora. All rights reserved. iPhone and Watch are a trademark of Apple Inc. App Store is a service mark of Apple inc.</p>
        </div>
    </footer>
    
   