<div class="hero--product">
    <bora-header></bora-header>
</div>

        <main role="main">
            <section class="container--primary spc--bottom--xlrg spc--top--xlrg group">
                <h2 class="section__heading center">Sign up for a plan</h2>
                
                <section class="group spc--top--lrg spc--bottom--lrg section__form">
                    <div class="pull">
                        <p class="plan__detail">Your order:</p>
                        <p class="plan__detail plan__detail--price">{{plan.name}}</p>
                    </div>
                    
                    <div class="push">
                        <p class="plan__detail">Total:</p>
                         <p class="plan__detail plan__detail--price">{{plan.price}}</p>
                    </div>

                    <p>{{planId}}</p>
                </section>
                    
                <section>
                <form novalidate name="form" class="subscription__form">
                    <div class="section__form group">
                        <div class="flex spc--top--med">
                                <div class="form-wrapper form">
                                    <input name="fname" ng-model="first.name" autocomplete="given-name" type="text" required>                  
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <div ng-show="form.$submitted || form.fname.$dirty">                      
                                            
                                            <span class="alert" ng-show="form.fname.$error.required"> First name field is required. </span>
                                        </div>
                                        
                                        <label>Name</label>               
                                </div>


                            <div class="form-wrapper form">
                                <input name="lname" ng-model="last.name" autocompletetype="family-name" type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <div ng-show="form.$submitted || form.lname.$dirty">                
                                    
                                    <span class="alert" ng-show="form.lname.$error.required"> Last name field is required. </span>
                                </div>
                                <label>Last name</label>
                            </div>


                             <div class="form-wrapper form">
                                <input name="email" ng-model="email" type="email" x-autocompletetype="email" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="form.$submitted || form.email.$dirty">
                                        
                                        <span class="alert" ng-show="form.email.$error.required"> Email field is required. </span>
                                        <span class="alert" ng-show="form.email.$error.email"> Please type in correct email address. </span>
                                    </div>                                    
                                    <label>Email</label>
                            </div>
                        </div>

                        <div class="flex spc--top--med">
                            <div class="form-wrapper form">
                                <input name="password" type="password" ng-model="password" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                
                                <div ng-show="form.$submitted || form.password.$dirty">
                                        
                                        <span class="alert" ng-show="form.password.$error.required"> Password field is required. </span>
                                </div>

                                <label>Password</label>
                            </div>
                            <div class="form-wrapper form">
                                <input name="confirmpass" ng-model="confirmpass" type="password" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <div ng-show="form.$submitted || form.passConf.$dirty">
                                        
                                        <span class="alert" ng-show="form.passConf.$error.required"> Repeat password field is required. </span>
                                </div>
                                <label>Repeat Password</label>
                            </div>
 
                        </div>
                        <div class="spc--bottom--lrg">
                            <button type="submit" class="btn btn--primary btn--med push">Sign Up</button>
                        </div>
                </div>
            </form>
            </section>

            <section class="container--primary  spc--bottom--lrg spc--top--med">
                <div class="section__form group">
                    <plan-preview plan-id="planId" />
                    <figure class="pull">
                        <img src="./assets/img/payments.jpg" alt="Payment">
                    </figure>

                    <div class="push">
                        <p class="plan__terms"><a href="#" class="plan__terms--item">Terms and Conditions</a></p>
                        <p class="plan__terms"><a href="#" class="plan__terms--item">Privacy Policy</a></p>
                    </div>
                </div>
            </section>
        </main>





