<div class="layout__form container--primary">
    <h1 class="spc--bottom--lrg  section__heading">{{ isNew ? 'Add New' : 'Edit' }} Plan</h1>

<div class="section__form">
                        <form novalidate name="planForm">
                            <h2 class="planName">{{plan.name}}</h2>
                            <div class="flex">
                                <div class="form-wrapper form">
                                    <input name="planName" ng-model="plan.name"  type="text" required>                  
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <div ng-show="planForm.$submitted || planForm.planName.$dirty">                      
                                            
                                            <span class="alert" ng-show="planForm.planName.$error.required"> Plan name field is required. </span>
                                        </div>
                                        
                                        <label>Plan Name</label>               
                                </div>
                                <div class="form-wrapper form">
                                    <input name="price" ng-model="plan.price"type="number" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.price.$dirty">                      
                                        
                                        <span class="alert" ng-show="planForm.price.$error.required"> Price field is required. </span>
                                    </div>
                                    <label>Price</label>
                                </div>
                            </div>

                            <h2>Content in the plan</h2>
                            <div class="flex spc--top--med">
                                
                                <div class="form-wrapper form">
                                    <input name="firstField" ng-model="firstField" type="firstField" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.firstField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.firstField.$error.required"> First field is required. </span>
                                    </div>                                    
                                    <label>First field</label>
                                </div>

                                <div class="form-wrapper form">
                                    <input name="secondField" ng-model="secondField" type="secondField" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.secondField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.secondField.$error.required"> Second field is required. </span>
                                    </div>                                    
                                    <label>Second field</label>
                                </div>
                            </div>

                            <div class="flex spc--top--med">
                                
                                <div class="form-wrapper form">
                                    <input name="firstField" ng-model="firstField" type="firstField" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.firstField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.firstField.$error.required"> First field is required. </span>
                                    </div>                                    
                                    <label>First field</label>
                                </div>

                                <div class="form-wrapper form">
                                    <input name="secondField" ng-model="secondField" type="secondField" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.secondField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.secondField.$error.required"> Second field is required. </span>
                                    </div>                                    
                                    <label>Second field</label>
                                </div>
                            </div>

                            <div class="flex spc--top--med">
                                
                                <div class="form-wrapper form">
                                    <input name="firstField" ng-model="firstField" type="firstField" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.firstField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.firstField.$error.required"> First field is required. </span>
                                    </div>                                    
                                    <label>First field</label>
                                </div>

                                <div class="form-wrapper form">
                                    <input name="secondField" ng-model="secondField" type="secondField" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.secondField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.secondField.$error.required"> Second field is required. </span>
                                    </div>                                    
                                    <label>Second field</label>
                                </div>
                            </div>

                                
                            
                            <h2>Plan duration</h2>

                                <div class="flex spc--top--med">
                                
                                <div class="form-wrapper form">
                                    <input name="firstField" ng-model="firstField" type="firstField" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.firstField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.firstField.$error.required"> First field is required. </span>
                                    </div>                                    
                                    <label>First field</label>
                                </div>

                                <div class="form-wrapper form">
                                    <input name="secondField" ng-model="secondField" type="secondField" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.secondField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.secondField.$error.required"> Second field is required. </span>
                                    </div>                                    
                                    <label>Second field</label>
                                </div>
                            </div>
                           
        <div class="form__field spc--bottom--med form-wrapper">

            
            
            
        </div>
      
        <div class="form__field form-wrapper">
            <button type="submit" class="control__link control__colors" ng-click="savePlan()">Save</button>
            <button type="button" class="control__link control__colors" ng-click="cancelEdit()">Cancel</button>
        </div>
        <div ng-show="error">
            {{ error }}
        </div>
    </form>
    </div>
</div>