<div class=" container--primary">
    

<div class="section__form">
    <h1 class="spc--bottom--lrg  section__heading add__edit__title">{{ isNew ? 'Add New' : 'Edit' }} Plan</h1>
                        <form novalidate name="planForm">
                            <p class="plan__detail plan__detail--price plan__edit__section">plan.name</p>
                            <div class="flex">
                                <div class="form-wrapper form">
                                    <input name="planName" ng-model="plan.name"  type="text" required>                  
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <div ng-show="planForm.$submitted || planForm.planName.$dirty">                      
                                            
                                            <span class="alert" ng-show="planForm.planName.$error.required"> Plan name field is required. </span>
                                        </div>
                                        
                                        <label>Plan Name</label>               
                                </div>
                                <div class="form-wrapper form">
                                    <input name="price" ng-model="plan.price"type="number" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.price.$dirty">                      
                                        
                                        <span class="alert" ng-show="planForm.price.$error.required"> Price field is required. </span>
                                    </div>
                                    <label>Price</label>
                                </div>
                            </div>

                            <h3 class="plan__edit__section left__padding">Content in the plan</h3>
                            <div class="flex spc--top--med">
                                
                                <div class="form-wrapper form">
                                    <input name="firstField" ng-model="firstField" type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.firstField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.firstField.$error.required"> First field is required. </span>
                                    </div>                                    
                                    <label>First field</label>
                                </div>

                                <div class="form-wrapper form">
                                    <input name="secondField" ng-model="secondField" type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.secondField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.secondField.$error.required"> Second field is required. </span>
                                    </div>                                    
                                    <label>Second field</label>
                                </div>
                            </div>

                            <div class="flex spc--top--med">
                                
                                <div class="form-wrapper form">
                                    <input name="thirdField" ng-model="thirdField" type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.thirdField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.thirdField.$error.required"> Third field is required. </span>
                                    </div>                                    
                                    <label>Third field</label>
                                </div>

                                <div class="form-wrapper form">
                                    <input name="fourthField" ng-model="fourthField" type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.fourthField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.fourthField.$error.required"> Second field is required. </span>
                                    </div>                                    
                                    <label>Fourth field</label>
                                </div>
                            </div>

                            <div class="flex spc--top--med">
                                
                                <div class="form-wrapper form">
                                    <input name="fifthField" ng-model="fifthField" type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.fifthField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.fifthField.$error.required"> Fifth field is required. </span>
                                    </div>                                    
                                    <label>Fifth field</label>
                                </div>

                                <div class="form-wrapper form">
                                    <input name="sixthField" ng-model="sixthField" type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.sixthField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.sixthField.$error.required"> Sixth field is required. </span>
                                    </div>                                    
                                    <label>Sixth field</label>
                                </div>
                            </div>

                                
                            
                            <h3 class="plan__edit__section left__padding">Plan duration</h3>

                                <div class="flex spc--top--med">
                                
                                <div class="form-wrapper form">
                                    <input name="startField" ng-model="startField" type="date" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.startField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.startField.$error.required"> Start date is required. </span>
                                    </div>                                    
                                    <label>Start date</label>
                                </div>

                                <div class="form-wrapper form">
                                    <input name="endField" ng-model="endField" type="date" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div ng-show="planForm.$submitted || planForm.secondField.$dirty">
                                        
                                        <span class="alert" ng-show="planForm.secondField.$error.required"> End date is required. </span>
                                    </div>                                    
                                    <label>End date</label>
                                </div>
                            </div>
                           
        <div class="form__field spc--bottom--med form-wrapper">

            
            
            
        </div>
      
        <div class="form__field form-wrapper">
            <button type="submit" class="btn btn--save btn--med push" ng-click="savePlan()">Save</button>
            <button type="button" class="btn btn--cancel btn--med push" ng-click="cancelEdit()">Cancel</button>
        </div>
        <div ng-show="error">
            {{ error }}
        </div>
    </form>
    </div>
</div>