 <div class="section__tertiary--item spc--top--lrg center">
    <div class="section__tertiary__title-wrapper">
        <h3 class="section__tertiary__title-emphasized">{{::plan.name}}</h3>
    </div>
    <div class="section__tertiary__content-wrapper">
        <span class="plan__price plan__price--primary">${{::plan.price}}</span>
        <p>per {{::plan.period}}</p>
        <p><strong>Synchronization</strong> {{::plan.sync ? 'Yes' : 'No'}}</p>
        <p><strong>Navigator access level</strong> {{::plan.navAccessLevel}}</p>
        <p><strong>Support tickets</strong> {{::plan.tickets}}</p>
        <a ui-sref="master.main.index" class="btn btn--tertiary btn--med">Back</a>
    </div>
</div>