        <div class="hero--secondary">
          <bora-header></bora-header>

            <div class="container--primary">
                <h2 class="blog__header__title">Dead man tell no tales</h2>
            </div>
        </div>




        <main role="main" class="articles">
                <section class="container--primary flex">
                         <div class="full-width" ng-if="hasBlogs" ng-repeat="blog in blogList.item | limitTo:1">
                            <a ui-sref="master.main.blog-detail({slug:blog.slug})" class="article--link">
                                <div  ng-style="{ 'background-image': blog.featured ? 'url(' + blog.featured + ')' : 'none' }" class="blog__article--primary">                                    
                                    <h2 class="article--primary__title">{{ blog.title }}</h2>
                                    <span class="article--primary__title">&mdash;</span>
                                    <p class="article--primary__body">{{ blog.excerpt }}</p>
                                    <span class="date">{{blog.publishDate | date : 'MMMM dd, yyyy' }}</span>
                                    <span class="author">Herman Melvile</span>
                                    <span class="minute article__readingtime">{{ blog.readingTime.text }} </span>
                                    <br/>
                                    <a ng-if="$root.user.isAuthenticated" ui-sref="master.blog-edit({ slug: blog.slug })" >Edit</a>
                                </div>
                            </a>
                         </div>                 
                </section>
                
                <section class="container--primary flex" ng-init="limit= 7">
                         <div ng-if="hasBlogs" ng-repeat="blog in blogList.item | limitTo: limit as posts" ng-show="!$first" class="blog__article--secondary">
                            <a ui-sref="master.main.blog-detail({slug:blog.slug})">
                                   <div>
                                        <img ng-src="{{blog.featured}}" >
                                        <h2 class="article--secondary__title">{{ blog.title }}</h2>
                                        <p class="article--secondary__body">{{ blog.excerpt }}</p>
                                        <span class="date">{{blog.publishDate | date : 'MMMM dd, yyyy' }}</span>
                                        <span class="author">Herman Melvile</span> 
                                        <br />
                                        <span class="minute article__readingtime">{{ blog.readingTime.text }} </span>
                                        <br />
                                        <a ng-if="$root.user.isAuthenticated" ui-sref="master.blog-edit({ slug: blog.slug })" >Edit</a>
                                    </div>
                            </a> 
                            
                            
                         </div>
                                          
                </section>     
                <div class="center">
                    <button class="btn btn--primary" style="text-align:center;" ng-hide="posts.length === blog.length" ng-click="limit = limit +6">Show more</button>                   
                </div>          
                
        </main>
</div>