<div class="hero--blog" ng-style="{ 'background-image': blog.featured ? 'url(' + blog.featured + ')' : 'none' }">
    
        <bora-header></bora-header>
        
        <div class="container--secondary">
            <div class="container--article" >
                <h2 class="blog__header__title">{{blog.title}}</h2>
                <button type="button" class="back__link back__colors" href="javascript:void(0);" ui-sref="master.main.blog" rel="blog">Back</button>
            </div>
        </div>
    </div>

<main role="main">
        <section class="container--primary">
            <div class="container--article">
                <div class="meta__blog--primary">
                    <span class="date">{{ blog.publishDate | date : 'MMMM dd, yyyy' }}</span>
                    <p class="date">&mdash;</p>
                </div>
                <article class="styledtext" btf-markdown="blog.content">            
                </article>           
            </div>
            
            <ul class="post__tags tags group">
                <li ng-repeat="tag in blog.tags" class="tags__item">
                    <a class="tags__link tags__colors" ui-sref="master.main.blog-search({ tags: tag.slug })">{{ tag.tag }}</a>
                </li>
            </ul>
       </section>
       
       <section class="container--primary">
           <div ng-hide="isEdit" ng-if="$root.user.isAuthenticated" class="container--article">
                <button type="button" class="control__link control__colors" ng-click="editBlog()">Edit</button>
                <button type="button" class="control__link control__colors" ng-click="deleteBlog()">Delete</button>
            </div>
       </section>
        
        <section class="container--primary group">
            <div class="container--article">
                <a href="#" class="avatar">
                    <img src="./assets/img/avatar.jpg" alt="" class="avatar__img">
                    <p class="avatar__name">Herman Melvile</p>
                    <p class="avatar__position">Author and Writer</p>
                </a>
            </div>
        </section>
        
        <section class="container--primary">
         <div class="container--article  flex blog__wrapper--tertiaty ">
             <baasic-blog-small-list page-size="2"></baasic-blog-small-list>
         </div>
        </section>
</main>

