/*------------------------------------*\
    # Application CSS file
\*------------------------------------*/


/*
 * Variables
*/

/*------------------------------------*\
    # vars.defaults
\*------------------------------------*/
/*------------------------------------*\
    # vars.colors
\*------------------------------------*/
/*------------------------------------*\
    # vars.responsive
\*------------------------------------*/
/*------------------------------------*\
    # vars.typogrphy
\*------------------------------------*/ 

/**
 * Generic styles
 * Default style setup for reseting or normalizing our CSS
 */

/*@import url("generics.normalize.css");*/
/*------------------------------------*\
    # generics.boxmodel
\*------------------------------------*/
*, *:before, *:after {
    box-sizing: border-box
}

/*------------------------------------*\
    # base.container
\*------------------------------------*/

.container {
    max-width: 1680px;
    max-width: 105rem;
    margin: 0 auto
}