/*------------------------------------*\
    # base.globals
\*------------------------------------*/

html {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    overflow: auto;
}
body {
    font-family: var(--ff-serif);
    animation: fadeIn ease-in .2s;
    animation-fill-mode: forwards;
    overflow: hidden;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
img {
    max-width: 100%;
}
a:focus {
    outline: none;
}
main {
    overflow: hidden;
}
footer {
    display: block;
    margin-top: 4rem;
}