/*------------------------------------*\
    # base.container
\*------------------------------------*/

.container--primary {
    margin: 0 auto;
    padding: 0 1.25rem;
}
@media all and (--from-medium) {
    .container--primary {
        margin: 0 auto;
        max-width: 80rem;
    }
}
.container--secondary {
    margin: 0 auto;
    padding: 0 1.25rem;
}
@media all and (--from-medium) {
    .container--secondary {
        margin: 0 auto;
        max-width: 80rem;
    }
}
.container--article {
    padding: 0;
}
@media all and (--from-medium) {
    .container--article {
        max-width: 40rem;
        padding: 0;
    }
}