/*------------------------------------*\
    # base.globals
\*------------------------------------*/

html {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    overflow: auto;
}
body {
    font-family: var(--ff-serif);
    overflow: hidden;
    min-width: 20rem;
}
img {
    max-width: 100%;
}
main {
    overflow: hidden;
}