/*------------------------------------*\
    # components.search
\*------------------------------------*/

.search--results__container {
    width: 100%;
}
.search--results {
    margin-bottom: calc(var(--base-line-height)*1);
    padding-bottom: calc(var(--base-line-height)*1);
    border-bottom: .0625rem solid color(var(--ultra-light) blackness(20%));
}
@media all and (--from-medium) {
    .search--results {
        display: flex;
        min-width: 100%;
        margin-bottom: calc(var(--base-line-height)*2);
        border-bottom: none;
    }
}
.search--results .link {
    text-decoration: none;
}