/*------------------------------------*\
    # components.styledtext
\*------------------------------------*/

.styledtext h1, 
.styledtext h2, 
.styledtext h3, 
.styledtext h4, 
.styledtext h5, 
.styledtext h6 {
    margin-top: 1.5rem;
    margin-bottom: .25rem;
    font-weight: var(--type-bold);
    font-family: var(--ff-sans);
}

@media all and (--from-medium) {
    .styledtext h1, 
    .styledtext h2, 
    .styledtext h3, 
    .styledtext h4, 
    .styledtext h5, 
    .styledtext h6 {
        margin-top: 1.5rem;
        margin-bottom: .25rem;
        font-weight: var(--type-bold);
        font-family: var(--ff-sans);
    }
}

.styledtext p, 
.styledtext ul, 
.styledtext dl, 
.styledtext ol, 
.styledtext table, 
.styledtext object, 
.styledtext cite, 
.styledtext section, 
.styledtext header, 
.styledtext pre {
    margin-bottom: 1rem;
    font-size: var(--type-base);
    line-height: var(--base-line-height);
}

@media all and (--from-medium) {
    .styledtext p, 
    .styledtext ul, 
    .styledtext dl, 
    .styledtext ol, 
    .styledtext table, 
    .styledtext object, 
    .styledtext cite, 
    .styledtext section, 
    .styledtext header, 
    .styledtext pre {
        font-size: var(--type-medium);
        line-height: calc(var(--base-line-height)*1.25);
    }
}

.styledtext ul {
    padding-left: 1.5rem;
    list-style-type: disc;
} 
.styledtext ol {
    padding-left: 1.5rem;
}

.styledtext pre {
}

.styledtext pre code {
}

.styledtext em {
    margin-bottom: 1rem;
    font-size: var(--type-base);
    line-height: var(--base-line-height);
}

.styledtext em {
    font-size: var(--type-base);
    line-height: var(--base-line-height);
}

@media all and (--from-medium) {
    .styledtext em {
        font-size: var(--type-medium);
        line-height: calc(var(--base-line-height)*1.25);
    }
}
.styledtext img + em {
}   
.styledtext blockquote {
    color: var(--color-primary);
    font-family: var(--ff-sans);
    font-size: var(--type-large);
    line-height: calc(var(--base-line-height)*1.25);
    margin-top: calc(var(--base-line-height)*1.5);
    margin-bottom: calc(var(--base-line-height)*1.5);
    padding-left: calc(var(--base-line-height)*1.5);
    border-left: .3rem solid var(--color-primary);
}

@media all and (--from-medium) {
    .styledtext blockquote {
        color: var(--color-primary);
        font-family: var(--ff-sans);
        font-size: var(--type-xlarge);
        line-height: calc(var(--base-line-height)*1.5);
        margin-top: calc(var(--base-line-height)*1.5);
        margin-bottom: calc(var(--base-line-height)*1.5);
        padding-left: calc(var(--base-line-height)*3);
        margin-right: -calc(var(--base-line-height)*7);
    }
}

.styledtext blockquote:before {
}

.styledtext blockquote > p {
}     

.styledtext table {
    width: 100%;
    font-family: var(--ff-sans);
    font-weight: var(--type-regular);
    font-size: var(--type-base);
    margin-top: calc(var(--base-line-height)*.5);
}

.styledtext table tr td {
    padding: .5rem;
    border: .0625rem solid color(var(--ultra-dark) alpha(20%));
}

.styledtext table th {
    padding: .5rem;
    background-color: color(var(--color-primary) alpha(60%));
    color: white;
    border-right: .0625rem solid var(--ultra-light);
}
.styledtext table th:last-child {
    border-right: .0625rem solid color(var(--color-primary) alpha(60%));
}    