/*------------------------------------*\
    # components.plan
\*------------------------------------*/

.plan__price {
    font-family: var(--ff-serif);
    display: block;
    color: var(--color-secondary);
}
.plan__price--primary {
    font-size: 6rem;
    margin-top: calc(var(--base-line-height)*1);
    margin-bottom: calc(var(--base-line-height)*1);
    line-height: calc(var(--base-line-height)*3);
}
.plan__price--secondary {
    font-size: 3rem;
    margin-top: calc(var(--base-line-height)*1);
    margin-bottom: calc(var(--base-line-height)*1.5);
    line-height: calc(var(--base-line-height)*1);
}
.plan__detail {
    padding-top: calc(var(--base-line-height)*.75);
    letter-spacing: .1rem;
    font-family: var(--ff-sans);
    font-size: var(--type-medium);
    line-height: calc(var(--base-line-height)*1.25);
    padding: 0 1rem;
}
.plan__detail--price {
    color: var(--color-primary);
    font-weight: var(--type-bold);
}
.plan__terms {
    font-family: var(--ff-sans);
    font-size: var(--type-base);
    padding: 0; /*1rem;*/
}
.plan__terms--item {
    font-weight: var(--type-bold);
    color: color(var(--ultra-light) blackness(80%));
    text-decoration: none;
    transition: color .5s ease-out;
}
.plan__terms--item:hover {
    color: var(--color-primary);
    text-decoration: none;
}