/*------------------------------------*\
    # components.popup
\*------------------------------------*/

.popup__title {
  text-align: center;
  padding: 0 0 15px 0;
  margin-bottom: -1.5rem;
}

.popup__wrapper {
    position: relative;
    display: inline-block;
    border-radius: 8px;
    width: 2.5rem;
}

.popup__wrapper--positive {
    background: var(--color-secondary);
    border: 5px solid var(--color-secondary);
}

.popup__wrapper--negative {
    background: #ffffff;
    border: 5px solid #ffffff;
}

.popup__settings {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -60px;
    bottom: -100px;
    transform: translate(0,10px);
    padding: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    width: auto;
    white-space: nowrap;
    min-width: 6rem;
}

.popup__settings--positive {
    background-color: var(--color-secondary);

}

.popup__settings--negative {
    background-color: #ffffff;
    white-space: normal;
    bottom: -140px;
    left: 85px;

}

.popup__settings--positive a {
    color: #ffffff;
}

.popup__settings--negative a {
    color: var(--color-secondary);
}

.popup__settings--positive:before {
    position: absolute;
    z-index: -1;
    content: '';
    right: calc(25% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--color-secondary) transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popup__settings--negative:before {
    position: absolute;
    z-index: -1;
    content: '';
    right: calc(25% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popup__settings a {
    font-family: var(--ff-sans);
    text-decoration: none;
}
.popup__settings a:hover {
    text-decoration: underline;
}

.popup__wrapper:hover .popup__settings {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0,-20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popup__message {
  text-align: center;
}

.popup__pull {
    left: -80px;
}