/*------------------------------------*\
    # components.footer
\*------------------------------------*/

.socialedit__container {
    width: 50%;
}

.socialedit__icon {
    width: 5%;
    float: left;
}

.socialedit__icon {
    width: 5%;
    float: left;
}