/*------------------------------------*\
    # components.plan
\*------------------------------------*/
.plan {
    border: 1px solid #cccccc;
    padding-top: 10px;
    margin-bottom: 10px;
}
.plan--actions .icon {
    width: 35px !important;
    height: auto;
}
.plan--collapsed__true {
    max-height: 0;
    overflow: hidden;
}
.plan--collapsed__false {
    margin: 0 0 2rem 1rem;
}
.plan--form__transition {
    margin-top: 30px;
    transition: opacity 1s ease-in-out;
}
.plan--collapsed__true .plan--form__transition {
    opacity: 0;
}
.plan--collapsed__false .plan--form__transition {
    opacity: 1;
}
.plan--checkbox__group {
    margin-left: 10px;
}
.plan--checkbox__group .checkbox  {
    display: none
}
.plan--checkbox__group .checkbox__label {
    padding-left: 30px;
    cursor: pointer;
}
.plan--checkbox__group .span {
    display: block;
    position: absolute;
    left: 0;
    transition-duration: .3s
}
.plan--checkbox__group .box {
    background: var(--ultra-light);
    height: 20px;
    width: 20px;
    z-index: 9;
    transition-delay: .2s;
    border: 2px solid var(--color-primary);
    border-radius: 3px;
    top: 0;
}
.plan--checkbox__group .check {
    left: 7px;
    top: 0;
    width: 7px;
    height: 15px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    opacity: 0;
    z-index: 10;
    transform: rotate(45deg);
    transition-delay: .3s;
}
.checkbox:checked ~ .checkbox__label .box {
    background: var(--color-primary);
}
.checkbox:checked ~ .checkbox__label .check {
    opacity: 1;
}
.plan__filter--container {
    max-width: 80em;
}
.plan__filter--input {
    border: 1px solid var(--color-primary);
    line-height: 2em;
    padding: 7px;
    color: var(--color-primary);
    margin: 20px 0;
    display: block;
    float: left;
    outline: none!important;
    width: calc(100% - 200px);
}