/*------------------------------------*\
    # components.hero
\*------------------------------------*/

.hero--primary {
    background-image: url(assets/img/hero-sml.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 50rem;
    padding-top: 4rem;
}
@media all and (--from-medium) {
    .hero--primary {
        background-image: url(assets/img/hero.jpg);
    }
}
.hero--secondary {
    background-image: url(assets/img/hero-blog-sml.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 15rem;
}
@media all and (--from-medium) {
    .hero--secondary {
        background-image: url(assets/img//hero-blog.jpg);
        min-height: 15rem;
    }
}
.hero--blog {
    background-image: url(assets/img/article-primary-sml.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 15rem;
    padding-top: 2rem;
}
@media all and (--from-medium) {
    .hero--blog {
        background-image: url(assets/img/article-primary.jpg);
        min-height: 15rem;
    }
}
.hero--product {
    background-image: url(assets/img/hero-product-sml.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 15rem;
    padding-top: 2rem;
}
@media all and (--from-medium) {
    .hero--product {
        background-image: url(assets/img/hero-product.jpg);
        min-height: 15rem;
    }
}
.hero--lost {
    background-image: url(assets/img/map-sml.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 15rem;
}
@media all and (--from-medium) {
    .hero--lost {
        background-image: url(assets/img//map.jpg);
        min-height: 15rem;
    }
}