/*------------------------------------*\
    # components.nav
\*------------------------------------*/

.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}

.header__nav.close {
    display: none;
}

@media all and (--from-medium) {
    .header__nav.close {
        display: block;
    }
}

.header__nav {
    float: right;
    margin-right: 0;
    width: 100%;
    margin-top: 1.5rem;
    animation:fadeIn ease-in .2s;
    animation-fill-mode:forwards;
}

@media all and (--from-medium) {
    .header__nav {
        width: auto;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


.nav {
    display: block;
    list-style-type: none;
    padding: 0;
}

.nav__item {
    display: block;
    background-color: var(--bittersweet);
    border-bottom: .0625rem solid color(var(--ultra-light) alpha(30%));
}

.nav__item:hover, .nav__item:active, .nav__item:focus {
    background-color: color(var(--bittersweet) shade(15%));
    transition: background-color .7s ease-out;
}

@media all and (--from-medium) {
    .nav__item:hover, .nav__item:active, .nav__item:focus {
        background-color: transparent;
        transition: none;
    }
}

.nav__item:last-child {
    border-bottom: none;
}

@media all and (--from-medium) {
    .nav__item {
        display: inline-block;
        background-color: transparent;
        border-bottom: none;
    }
}
.nav__item:last-child {
    padding-right: 0;
}
.nav__link {
    transition: color .3s ease-out;
    font-size: var(--base-font-size);
    font-family: var(--ff-sans);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: var(--type-bold);
    letter-spacing: .05rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    display: block;
}

.nav__link--primary {
    color: var(--ultra-light);
    text-align: center;
}

@media all and (--from-medium) {
    .nav__link {
        width: auto;
        display: inline-block;
        text-align: center;
    }
}

@media all and (--from-medium) {
    .nav__link--primary {
        color: var(--ultra-dark);
    }
}

@media all and (--from-medium) {
    .nav__link--primary:hover, .nav__link--primary:active, .nav__link--primary:focus {
        color: color(var(--ultra-dark) whiteness(60%));
    }
}

.nav__link--secondary {
    color: var(--ultra-light);
}

.nav__link--secondary:hover, .nav__link--secondary:active, .nav__link--secondary:focus {
    color: var(--color-primary);
}