/*------------------------------------*\
    # components.blogeditor
\*------------------------------------*/

.blog__editor__field {
    display: inline-block;
    width: 100%;
    cursor: text;
    border: 1px solid var(--ultra-light);
    background: white;
    transition: all .2s;
    height: 35rem;
    padding: 1rem;
    overflow: auto;
    resize: none;
    word-break: break-word;
}
.blog__editor__field:focus {
    outline: 0;
    border-color: var(--light);
}
@media all and (--from-medium) {
    .blog__editor__type {
        width: 100%;
        float: left;
        margin-right: 1%;
    }
}
.blog__editor__preview h1,
.blog__editor__preview h2,
.blog__editor__preview h3,
.blog__editor__preview h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
@media all and (--from-medium) {
    .blog__editor__preview {
        width: 50%;
        float: right;
    }
}
.blog__editor__field::placeholder {
    color: var(--light);
    font-family: var(--ff-serif);
}
.blog__editor__header {
    margin-bottom: 1rem;
    text-align: right;
}
@media all and (--from-medium) {
    .blog__editor__header {
        height: 4rem;
    }
}
.blog__editor__header button {
    margin-left: 0.5rem;
}
.blog__editor__explain {
    display: block;
    text-align: left;
    color: var(--dark);
    font-family: var(--ff-sans);
    font-size: 0.875rem;
    margin-bottom: 1rem;
}
.blog__editor__html {
    font-family: var(--ff-monospace);
}