/*------------------------------------*\
    # components.social
\*------------------------------------*/
.social__item {
    position: relative;
    margin-bottom: 2rem;
    padding-right: .5rem;
    float:left;
}
.social__icon {
    width: 3rem;
    position: absolute;

}
.social__input {
    width: calc(100% - 3rem)!important;
    margin-left: 3.5rem;
}

.social__label {
    left: 4.5rem!important;
    top: -0.1rem!important;
}

