/*------------------------------------*\
    # modules.buttons
\*------------------------------------*/

.btn {
    transition: background-color .7s ease-out;
    font-family: var(--ff-sans);
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    border: 0;
    background-color: transparent;
    position: relative;
    user-select: none;
    margin: .5rem; 
}

.btn:focus {
    outline: 0;
}

.btn--primary {
    color: var(--ultra-light);
    background-color: var(--bittersweet);
}

.btn--primary:hover, .btn--primary:active, .btn--primary:focus  {
    background-color: color(var(--bittersweet) shade(15%));
}

.btn--secondary {
    color: var(--ultra-light);
    background-color: var(--mindaro);
}

.btn--secondary:hover, .btn--secondary:active, .btn--secondary:focus  {
    background-color: color(var(--mindaro) shade(15%));
}

.btn--tertiary {
    border: 2px solid var(--bittersweet);
    font-family: var(--ff-sans);
    color: var(--bittersweet);
}

.btn--tertiary:hover, .btn--tertiary:active, .btn--tertiary:focus  {
    border: 2px solid color(var(--bittersweet) shade(15%));
    color: color(var(--bittersweet) shade(15%));
}

.btn--tertiary--negative {
    color: var(--ultra-light);
    border: 2px solid var(--ultra-light);
    font-family: var(--ff-sans);
    color: var(--ultra-light);
}

.btn--tertiary--negative:hover, .btn--tertiary--negative:active, .btn--tertiary--negative:focus  {
    border: 2px solid color(var(--ultra-light) shade(15%));
    color: color(var(--ultra-light) shade(15%));
}

/* Buttons specifics*/

.btn--med {
    padding: .25rem .5rem;
    font-size: var(--type-base);    
    font-weight: var(--type-regular);
}

.btn--lrg {
    padding: .25rem .5rem;
    font-size: var(--type-base);
    font-weight: var(--type-regular);
}

@media all and (min-width: 21em) {
    .btn--lrg {
        padding: .5rem 1.15rem;
        font-size: var(--type-base);
    }    
}

@media all and (--from-medium) {
    .btn--lrg {
        padding: .75rem 1.15rem;
    }    
}

@media all and (--from-large) {
    .btn--lrg {
        padding: .75rem 1.15rem;
        font-size: var(--type-large);
    }    
}