/*------------------------------------*\
    # util.tweaks
\*------------------------------------*/

.cog {
	content: ' ';
	width:50px;
	border-radius: 8px;
	background:url('\../../../../../assets/img/cog.svg') center center ;
	transition:background .3s ease-in-out;
}

.cog:hover {
	content: ' ';
	width:50px;
	border-radius: 8px;
	background:url('\../../../../../assets/img/cog-invert.svg') center center #FD6D6D;
}



.cog--invert{
	width:50px;
	border-radius: 8px;
	background:url('\../../assets/img/cog-invert.svg') center center;
	transition:background .3s ease-in-out;
}

.cog--invert:hover{
	width:50px;
	border-radius: 8px;
	background:url('\../../assets/img/cog.svg') center center #ffffff;
}

.invisible{
	visibility: hidden;
}

.editor__preview{
	margin-top:2rem;
}
.editor__field{
	max-height:500px;
	height:500px;
	overflow:auto;
	word-break:break-word;
}

.editor__explain{
	color:#ABA9A9;
	font-family: 'Signika Negative', Helvetica,Arial,sans-serif;
	font-size:14px;
}

.tags{
	box-shadow:none!important;
	border: none!important;
}
.tags .input{
	border:none;
}
.tags-input.tags.focused{
	box-shadow:none;
	border:none;
}

.tags-input.tags{
	box-shadow:none;
}
.host{
	border-bottom:1px solid rgb(242,242,242);
}

.tag-item{
	color:#00000!important;
	background:#ffffff!important;
	border-radius: 0!important;
	border:2px solid rgb(242,242,242)!important;
	font-family: var(---ff-sans);
}
.remove-button{
	color:#000000!important;
}

.radio__label, .radio__label--title{
	font-family: 'Signika Negative', Helvetica, Arial, sans-serif;
	top:0;

}
.radio__label{
	margin:10px 10px 20px 10px;;
}

.radio__label--title{
	margin-bottom: 10px;
}

.radio__button__group{
	margin:10px;
}

.form__select{
	font-family:'Signika Negative', Helvetica, Arial, sans-serif;
	min-width:100%;
	border:none;
	border-bottom:1px solid rgb(242, 242, 242);
	outline:none;
	height:50px;
}

.clear{
	clear:both;	
}
.actions a img{
	width:35px !important;
	height:auto;
}

.profile__icon{
	width:30px!important;
	margin-bottom:-5px;

}
.a__profile__icon{
	box-sizing: border-box;
	width:30px!important;
	padding:5px;
	
}

.a__profile__icon:hover{
	background:#fd6d6d;
	
}


.del__btn{
	width:30px;
	margin-top: 4px;
	height:auto;
}

.btn--border {
    border: 2px solid var(--dark-cyan);
    font-family: var(--ff-sans);
    color: var(--dark-cyan);
    letter-spacing: 1px;
}

.btn--border:hover, .btn--border:active, .btn--border:focus  {
    border: 2px solid color(var(--dark-cyan) shade(15%));
    color: color(var(--dark-cyan) shade(15%));
}


.flex__wrapper{
	display: flex;
	justify-content: center;
  	width:100%;
  	height: 50vh;
  	min-height:300px;
}

.form__transition{
	margin-top:30px;
	transition:opacity 1s ease-in-out;
}

.collapsed__true .form__transition{
	opacity:0;
}

.collapsed__false .form__transition{
	opacity:1;
}

.headroom--top .menu-icon-container{
	z-index:-1;
}

.login__margin--top{
	margin-top:10rem;
}

.social__title{
	margin-bottom: 4rem;
}

/**/

.checkbox-group {
    position:relative;
    margin-left:10px;
}
 
/* Hide Checkbox Input */
.checkbox-group input[type=checkbox] {
    display:none
}
 
/* Style Label */
.checkbox-group label {
    padding-left:30px;
    cursor:pointer;
}
 
/* Style span tag */
.checkbox-group label span {
    display:block;
    position:absolute;
    left:0;
    transition-duration:.3s
}
/* Style box */
.checkbox-group label .box {
    background:var(--ultra-light);
    height:20px;
    width:20px;
    z-index:9;
    transition-delay:.2s
}
 
/* Style check icon. give it a border on the bottom and right only and then rotate */
.checkbox-group label .check {
    top:0;
    left:7px;
    width:7px;
    height:15px;
    border:2px solid #fff;
    border-top:none;
    border-left:none;
    opacity:0;
    z-index:10;
    transform:rotate(45deg);
    transition-delay:.3s;


}
 
/* Change color of box when checkbox is checked */
input[type=checkbox]:checked ~ label .box {
    background:var(--color-primary);
}
 
/* Rotate and show check icon when checkbox is checked */
input[type=checkbox]:checked ~ label .check {
    opacity:1;
}


.admin__link, .admin__link--invert{
  width:50px;
  height:50px;
  padding:7px;
  text-align:center;
  border-radius:15px;
  background-color: none;
  transition:background-color .3s ease-in-out;
}

.admin__link--invert{
  width:50px;
  height:50px;
  padding:7px;
  text-align:center;
  border-radius:15px;
  background-color: var(--color-ultra--light);
  transition:background-color .3s ease-in-out;
}

.admin__link:hover{
	background-color:var(--color-secondary);
	border-radius:15px;
}


.admin__link--invert:hover{
	background-color:#ffffff;
	border-radius:15px;
}


/*Notification Info-Box outer frame*/
.arrow, .arrow--invert{
  content:"";
  margin-top:5px;
  margin-left:10px;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid transparent;
  margin-top:10px;
}

.drop, .drop-invert{
  position:absolute;
  content:"";
  margin-left:60px;
  margin-top:85px;
  transition:background .2s ease-in-out;
}



/*On-Hover Animation*/

.admin__link:hover .arrow{
  position:absolute;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid #fd6d6d;
  margin-top:10px;
  margin-left:17px;
}

.admin__link:hover .arrow--invert{
  position:absolute;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid #ffffff;
  margin-top:10px;
  margin-left:17px;
}


.admin__link a{
  display:none;
  
}
.admin__link:hover a{
  display:inline-block;
}
.admin__link:hover .drop{
  position:absolute;
  background:#fd6d6d;
  margin-top:10px;
  margin-left:-40px;
  border-radius:5px;
}
.admin__link:hover .drop--invert{
  position:absolute;
  background:#ffffff;
  margin-top:10px;
  margin-left:-40px;
  border-radius:5px;
}
.panel{
	width: 70px;
	height: 25px;
	margin-left:-10px;
}
a.drop__text{
	min-width:120px;
	font-family:'Signika Negative', Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#ffffff;
	text-decoration: none;
	padding: 15px;
}
a.drop__text--invert{
	min-width:120px;
	font-family:'Signika Negative', Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#fd6d6d;
	text-decoration: none;
	padding: 15px;
}

/*---------------*/


.label--on-top{
    top:-20px!important;
    font-size:14px!important;
    color: color(var(--ultra-dark) whiteness(50%))!important;
}

.error--404{
	background-color: var(--dark-cyan);
	position:relative;
}

