/*------------------------------------*\
    # util.tweaks
\*------------------------------------*/

.full-width{
    width:100%;
}

.btn--show__more{
    border:1px solid #FD6D6D;
}

.article--link{
	text-decoration: none;
}

.minute{
	text-decoration: none;
	color:rgb(156, 156, 156);
}

.blog__article--tertiary:nth-of-type(1){
	float:left;
}

.blog__article--tertiary:nth-of-type(1){
	float:right;
}
.subscription__form{
	width:100%;
}


/*Plan table*/

.plan__table{
	box-sizing:border-box;
	font-family:'Signika Negative', Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#007D90;
	border:none;
	margin:15px;
}
.plan__table tr{
	border:1px solid #007D90;
	
}

.plan__table th{
	text-transform: uppercase;
}

.plan__table th, .plan__table td{
	padding:10px;
	text-align: center;
}

.plan__table ul{
	list-style-type:none; 
}

.plan__table ul li{
	display: block;
}

.plan__filter{
}

/* plan table pagination */
.pagination{
	font-family: 'Signika Negative', Helvetica,Arial,sans-serif;
	margin:15px auto;
	text-align: center;
}

.pagination__item{
	border:1px solid #007d90;
	color:#007d90;
	transition:all .3s ease-in-out;
}
.pagination__item:hover, .pagination__item:active{
	border:1px solid #007d90;
	background-color:#007d90;
	color:#ffffff;	
}

/* plans filter */
.plan__filter input{
	border:1px solid #007D90;
	line-height: 1.6em;
	padding:5px;
	color:#007d90;
	margin:15px;
	display: block;
}	


/*form validation*/
.alert{
	font-family: 'Signika Negative', Helvetica,Arial,sans-serif;
	color:#FD6D6D;
	font-size:.8em;
}