<ul class="nav group">
    <li class="nav__item"><a ui-sref="master.main.index({ '#': 'features' })" class="nav__link nav__link--primary">Features</a></li>
    <li class="nav__item"><a ui-sref="master.main.index({ '#': 'video' })" class="nav__link nav__link--primary">Watch the video</a></li>
    <li class="nav__item"><a ui-sref="master.main.index({ '#': 'plan' })" class="nav__link nav__link--primary">Plan</a></li>
    <li class="nav__item"><a ui-sref="master.main.blog" rel="blog" class="nav__link nav__link--primary" rel="blog">Blog</a></li>
    <li class="nav__item"><a ui-sref="master.main.index({ '#': 'contact' })" class="nav__link nav__link--primary">Contact</a></li>
</ul>