<ul class="nav group">
    <li class="nav__item"><a ui-sref="master.main.index({ '#': 'features' })" class="nav__link nav__link--primary">Features</a></li>
    <li class="nav__item"><a ui-sref="master.main.index({ '#': 'video' })" class="nav__link nav__link--primary">Watch the video</a></li>
    <li class="nav__item"><a ui-sref="master.main.index({ '#': 'plan' })" class="nav__link nav__link--primary">Plan</a></li>
    <li class="nav__item"><a ui-sref="master.main.blog" rel="blog" class="nav__link nav__link--primary" rel="blog">Blog</a></li>
    <li class="nav__item"><a ui-sref="master.main.index({ '#': 'contact' })" class="nav__link nav__link--primary">Contact</a></li>
     
    
    <h2 class="nav__item" >
        
            <a ng-hide="$root.user.isAuthenticated" ui-sref="login" class="a__profile__icon hasTooltip tooltip">
                <span>Login</span>
                <img class="profile__icon" src="../../assets/img/profile.svg" />
            </a>
    </h2>


	<h2 class="nav__item" >
    	<baasic-logout on-logout="setEmptyUser()">
    		<a ng-show="$root.user.isAuthenticated" href="" ng-click="logout()" class="a__profile__icon hasTooltip tooltip">
                <span>Logout</span>
    			<!--span>Edit Profile</span> this is for future use-->
    			<img class="profile__icon" src="../../assets/img/profile.svg" />
    		</a>
        </baasic-logout>
    </h2>


</ul>
