<ul class="nav group">
    <li class="nav__item">
        <a ui-sref="master.main.index" class="nav__link nav__link--primary">Home</a>
    </li>
    <li class="nav__item">
        <a ui-sref="master.main.blog" rel="blog" class="nav__link nav__link--primary" rel="blog">Blog</a>
    </li>
    <li class="nav__item">
        <a ui-sref="master.main.index({ '#': 'contact' })" class="nav__link nav__link--primary">Contact</a>
    </li>
    <li class="nav__link nav__link--primary">
        <div class="profile__wrapper">
            <a href="#">
                <img class="profile__title" src="assets/img/profile.svg" />
            </a>
            <div class="profile__settings profile__settings--primary" ng-if="!$root.user.isAuthenticated">
                <baasic-logout on-logout="setEmptyUser()">
                    <a ui-sref="login" class="link">Login</a>
                </baasic-logout>
            </div>
            <div class="profile__settings profile__settings--primary" ng-if="$root.user.isAuthenticated">
                <baasic-logout on-logout="setEmptyUser()">
                    <a href="#" ng-click="logout()" class="link">Logout</a>
                </baasic-logout>
            </div>
        </div>
    </li>
</ul>