<footer class="footer center" role="content-info">
    <div class="container--secondary">
        <div class="push" ng-if="$root.user.isAuthenticated">
            <a ui-sref="master.social">
                <img class="plan__editor__icon" src="assets/img/cog-invert.svg" />
            </a>
        </div>
        <social-list-footer> </social-list-footer>
        <nav role="footer__nav center">
            <ul class="nav group">
                <li class="nav__item"><a href=".##features"  rel="features" class="nav__link nav__link--secondary">Features</a></li>
                <li class="nav__item"><a href=".##video"   class="nav__link nav__link--secondary">Watch the video</a></li>
                <li class="nav__item"><a href=".##plan"   class="nav__link nav__link--secondary">Plan</a></li>
                <li class="nav__item"><a ui-sref="master.main.blog" rel="blog" class="nav__link nav__link--secondary">Blog</a></li>
                <li class="nav__item"><a href=".##contact"   class="nav__link nav__link--secondary">Contact</a></li>
            </ul>
        </nav>
        <p class="footer__copyright">© 2015 Bora. All rights reserved. iPhone and Watch are a trademark of Apple Inc. App Store is a service mark of Apple inc.</p>
    </div>
</footer>