<div class="container--primary">
  <div class="section__form">
    <form name="social" novalidate class="form">
        <h2 class="spc--bottom--lrg  section__heading add__edit__title">Edit Social Connections</h2>
        <img src="../../assets/img/social/pinterest.svg" class="social__icons"/>
        <div class="form__field form-wrapper social__input">
            <input type="text" name="pinterest" id="pinterest" ng-model="social.pinterest" class="input input--text"  />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form__label" for="pinterest">Pinterest URL</label>
        </div>
        
        <img src="../../assets/img/social/dribble.svg" class="social__icons"/>
        <div class="form__field form-wrapper social__input">
            <input type="text" name="dribbble" id="dribbble" ng-model="social.dribbble" class="input input--text"  />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form__label" for="dribbble">Dribbble URL</label>
        </div>
        
        <img src="../../assets/img/social/facebook-square.svg" class="social__icons"/>
        <div class="form__field form-wrapper social__input">
            <input type="text" name="facebook" id="facebook" ng-model="social.url" class="input input--text"  />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form__label" for="facebook">Facebook URL</label>
        </div>
        
        <img src="../../assets/img/social/vimeo.svg" class="social__icons"/>
        <div class="form__field form-wrapper social__input">
            <input type="text" name="vimeo" id="vimeo" ng-model="social.vimeo" class="input input--text"  />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form__label" for="vimeo">Vimeo URL</label>
        </div>
        
        <img src="../../assets/img/social/tumblr.svg" class="social__icons"/>
        <div class="form__field form-wrapper social__input">
            <input type="text" name="tumblr" id="tumblr" ng-model="social.tumblr" class="input input--text"  />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form__label" for="tumblr">Tumblr URL</label>
        </div>
        
        <img src="../../assets/img/social/googleplus-square.svg" class="social__icons"/>
        <div class="form__field form-wrapper social__input">
            <input type="text" name="google_plus" id="google_plus" ng-model="social.google_plus" class="input input--text"  />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form__label" for="google_plus">Google+ URL</label>
        </div>
        
        <img src="../../assets/img/social/wordpress.svg" class="social__icons"/>
        <div class="form__field form-wrapper social__input">
            <input type="text" name="wordpress" id="wordpress" ng-model="social.wordpress" class="input input--text"  />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form__label" for="wordpress">Wordpress URL</label>
        </div>
        
        <img src="../../assets/img/social/instagram.svg" class="social__icons"/>
        <div class="form__field form-wrapper social__input">
            <input type="text" name="instagram" id="instagram" ng-model="social.instagram" class="input input--text"  />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form__label" for="instagram">Instagram URL</label>
        </div>
        
        <img src="../../assets/img/social/stumbleupon.svg" class="social__icons"/>
        <div class="form__field form-wrapper social__input">
            <input type="text" name="stumbleupon" id="stumbleupon" ng-model="social.stumbleupon" class="input input--text"  />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form__label" for="stumbleupon">StumbleUpon URL</label>
        </div>
        
        <img src="../../assets/img/social/linkedin.svg" class="social__icons"/>        <div class="form__field form-wrapper social__input">
            <input type="text" name="linkedin" id="linkedin" ng-model="social.linkedin" class="input input--text"  />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form__label" for="linkedin">LinkedIn URL</label>
        </div>
        
        <img src="../../assets/img/social/twitter.svg" class="social__icons"/>
        <div class="form__field form-wrapper social__input">
            <input type="text" name="twitter" id="twitter" ng-model="social.twitter" class="input input--text"  />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form__label" for="twitter">Twitter URL</label>
        </div>
        
        <img src="../../assets/img/social/github.svg" class="social__icons"/>
        <div class="form__field form-wrapper social__input">
            <input type="text" name="github" id="github" ng-model="social.url" class="input input--text"  />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="form__label" for="github">GitHub URL {{social.name}}</label>
        </div>
        
        
        <div class="form__field spc--bottom--med form-wrapper">     
           
           <ul>
               <li ng-repeat="soc in social">{{social.name}} - {{name}} - {{social.url}}</li>
           </ul>
            
        </div>
      
        <div class="form__field form-wrapper">
            <button type="submit" class="btn btn--save btn--med push" ng-click="saveSocialConnection()">Save</button>
            <button type="button" class="btn btn--cancel btn--med push" ng-click="cancelEdit()">Cancel</button>
        </div>

    </form>    
  </div>
</div>