/*------------------------------------*\
    # components.blog
\*------------------------------------*/

.blog__header__title {
    color: var(--ultra-dark);
    font-size: var(--type-xxlarge);
    line-height: calc(var(--base-line-height)*1.5);
    margin-top: calc(var(--base-line-height)*5);
    margin-bottom: var(--base-line-height);
    display: block;
    letter-spacing: 0.3rem;
}

.blog__header__title:nth-child(2) {
    margin-top: .5rem;
}

@media all and (--from-medium) {
    .blog__header__title:nth-child(2) {
        margin-top: var(--base-line-height);
    }
}

@media all and (--from-medium) {
    .blog__header__title {
        font-size: var(--type-xxxlarge);
        line-height: calc(var(--base-line-height)*2.5);
        margin-bottom: calc(var(--base-line-height)*2);
    }
}

.blog__article--primary {
    flex: 1;
    background-image: url("../img/article-primary.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: calc(var(--base-line-height)*2);
    margin-bottom: calc(var(--base-line-height)*2);
    padding: var(--base-line-height);
    text-decoration: none;
}

@media all and (--from-medium) {
    .blog__article--primary {
        min-height: 31.25rem;
        margin-top: calc(var(--base-line-height)*2);
        margin-bottom: calc(var(--base-line-height)*2);
        padding-top: calc(var(--base-line-height)*6);
        padding-right: calc(var(--base-line-height)*2);
        padding-left: calc(var(--base-line-height)*2);
        padding-bottom: calc(var(--base-line-height)*2);
        text-decoration: none;
    }
}

.article--primary__title {
    font-family: var(--ff-sans);
    font-size: var(--type-xlarge);
    line-height: calc(var(--base-line-height)*1.5);
    color: white;
    letter-spacing: .2rem;

}

@media all and (--from-medium) {
    .article--primary__title {
        font-size: var(--type-xxxlarge);
        line-height: calc(var(--base-line-height)*2);
    }
}

.article--primary__body {
    font-size: var(--type-medium);
    line-height: var(--base-line-height);
    color: white;
    letter-spacing: .1rem;
    margin-bottom: calc(var(--base-line-height)*.5);
}

@media all and (--from-medium) {
    .article--primary__body {
        font-size: var(--type-xlarge);
        margin-bottom: calc(var(--base-line-height)*1);
        line-height: calc(var(--base-line-height)*1.5);
    }
}

.blog__article--secondary {
    margin-bottom: calc(var(--base-line-height)*1);
    padding-bottom: calc(var(--base-line-height)*1);
    border-bottom: .0625rem solid color(var(--ultra-light) blackness(20%));
}

@media all and (--from-medium) {
    .blog__article--secondary {
        display: flex;
        width: 30%;
        margin-bottom: calc(var(--base-line-height)*2);
        border-bottom: none;
    }
}

.blog__article--secondary:last-child {
    border-bottom: none;
}

.blog__article--secondary img {
    width: 100%;
}

@media all and (--from-medium) {
    .blog__article--secondary img {
        max-width: 100%;
    }
}

.blog__article--secondary a {
    text-decoration: none;
}


.article--secondary__title {
    font-family: var(--ff-sans);
    font-size: var(--type-large);
    color: var(--ultra-dark);
    text-transform: uppercase;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.article--secondary__body {
    color: var(--ultra-dark);
    margin-bottom: .75rem;
}

.blog__wrapper--tertiaty {
    border-top: .0625rem solid color(var(--ultra-light) blackness(20%));
    margin-top: calc(var(--base-line-height)*2);
    padding-top: calc(var(--base-line-height)*2);

}

.blog__article--tertiary {
    margin-bottom: calc(var(--base-line-height)*1);
    padding-bottom: calc(var(--base-line-height)*1);
    border-bottom: .0625rem solid color(var(--ultra-light) blackness(20%));
}

@media all and (--from-medium) {
    .blog__article--tertiary {
        display: flex;
        width: 45%;
        margin-bottom: calc(var(--base-line-height)*2);
        border-bottom: none;
    }
}

.blog__article--tertiary a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.blog__article--tertiary a:hover {
    transition: all .5s;
    box-shadow: 0 0 0.5rem 0 var(--ultra-light);
    padding: 1rem;
}

.blog__article--tertiary img {
    width: 100%;
}

@media all and (--from-medium) {
    .blog__article--tertiary img {
        max-width: 100%;
    }
}