/*------------------------------------*\
    # components.avatar
\*------------------------------------*/

.avatar {
    margin-top: calc(var(--base-line-height)*1.5);
    margin-bottom: calc(var(--base-line-height)*.5);
    text-decoration: none;
    display: block;
}

@media all and (--from-medium) {
    .avatar {
        margin-top: calc(var(--base-line-height)*1.5);
        margin-bottom: calc(var(--base-line-height)*.5);
        text-decoration: none;
        display: block;
    }
}

.avatar__img {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: calc(var(--base-line-height)*1);
}

.avatar__name {
    color: var(--ultra-dark);
    font-family: var(--ff-sans);
    font-size: var(--type-large);
    margin-bottom: calc(var(--base-line-height)*.25);
}

.avatar__position {
    font-family: var(--ff-sans);
    color: color(var(--ultra-light) blackness(50%));
    text-transform: uppercase;
    letter-spacing: .05rem;
}