/*------------------------------------*\
    # util.spacers
\*------------------------------------*/


.spc--bottom--sml {
    margin-bottom: 0.5rem;
}
.spc--bottom--med {
    margin-bottom: 1rem;
}
.spc--bottom--lrg {
    margin-bottom: 2rem;
}
.spc--bottom--xlrg {
    margin-bottom: 3rem;;
}



.spc--top--sml {
    margin-top: 0.5rem;
}
.spc--top--med {
    margin-top: 1rem;
}
.spc--top--lrg {
    margin-top: 2rem;
}
.spc--top--xlrg {
    margin-top: 3rem;
}
